body {background-color:black;}

#content{
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    margin: 0px 60px 0px 60px;
    height: auto;
    font-size: 30px;
    
}

#form{
    margin-left: 15%;
}

h1{
    color: grey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    margin-left: 5%;
}
p{
    margin-left: 5%;
}
